Repository YotamAlon/juffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, check-yaml

.pre-commit-config.yaml:

repos:
  # All tools using local environment
  - repo: local
    hooks:
      # Black - Python code formatter (auto-fixes formatting)
      - id: black
        name: black
        entry: black
        language: python
        additional_dependencies: [black>=23.0.0]
        types: [python]
        args: [--line-length=88]

      # isort - Import sorting (auto-fixes import order)
      - id: isort
        name: isort
        entry: isort
        language: python
        additional_dependencies: [isort>=5.0.0]
        types: [python]
        args: [--profile=black, --line-length=88]

      # MyPy - Static type checking
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        additional_dependencies: [mypy>=1.0.0]
        types: [python]
        args: [--ignore-missing-imports, --show-error-codes, --explicit-package-bases]
        exclude: ^tests/

      # Pylint - Code quality and style checking
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]

      # Run tests
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        pass_filenames: false
        always_run: true
        args: [tests/, --tb=no, -q]
        verbose: true

      # Trailing whitespace
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]

      # End of file fixer
      - id: end-of-file-fixer
        name: fix end of files
        entry: end-of-file-fixer
        language: system
        types: [text]

      # Check YAML
      - id: check-yaml
        name: check yaml
        entry: check-yaml
        language: system
        types: [yaml]

      # Check for large files
      - id: check-added-large-files
        name: check for added large files
        entry: check-added-large-files
        language: system

      # Check for merge conflicts
      - id: check-merge-conflict
        name: check for merge conflicts
        entry: check-merge-conflict
        language: system
        types: [text]

Added changelog and recorded recent work
  .DS_Store
  CHANGELOG.md
  MANIFEST.in
  pyproject.toml
Due: none

Fix dependency between details viewmodel and entries view
  juffi/models/juffi_model.py
  juffi/viewmodels/details.py
  juffi/viewmodels/entries.py
  juffi/views/app.py
  juffi/views/details.py
  juffi/views/entries.py
  tests/models/test_juffi_state.py
  tests/viewmodels/test_details_viewmodel.py
  tests/viewmodels/test_entries_viewmodel.py
  tests/views/test_details_redraw.py
Due: black, isort, mypy, pylint

Fix direct call from viewmodel to view level function
  juffi/helpers/curses_utils.py
  juffi/models/juffi_model.py
  juffi/viewmodels/app.py
  juffi/views/app.py
Due: black, isort, mypy, pylint

Fixed goto to interpret number as row number instead of line number
  juffi/viewmodels/browse.py
  juffi/viewmodels/entries.py
  juffi/views/help.py
  tests/viewmodels/test_browse_viewmodel.py
  tests/viewmodels/test_entries_viewmodel.py
  tests/views/test_browse_view.py
Due: black, isort, mypy, pylint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add support for piping data into juffi
  juffi/__main__.py
  juffi/input_controller.py
  juffi/views/app.py
  tests/infra/__init__.py
  tests/infra/base_test_app.py
  tests/infra/terminal_parser.py
  tests/infra/utils.py
  tests/piped/__init__.py
  tests/piped/conftest.py
  tests/piped/piped_test_app.py
  tests/piped/test_pipe.py
  tests/viewmodels/test_app_model.py
  tests/views/conftest.py
  tests/views/file_test_app.py
  tests/views/test_app.py
  tests/views/test_browse_view.py
  tests/views/test_column_management_view.py
  tests/views/test_help_view.py
Due: black, isort, mypy, pylint

Making juffi python 3.10 compatible
  .pre-commit-config.yaml
  juffi/viewmodels/column_management.py
  juffi/views/column_management.py
  pyproject.toml
Due: black, isort, mypy, pylint, check-yaml

Making default sort ascending for non-json files to preserve multi-line logs
  juffi/__main__.py
  juffi/viewmodels/app.py
  juffi/viewmodels/entries.py
  tests/infra/base_test_app.py
  tests/viewmodels/test_app_model.py
  tests/views/test_plain_text.py
Due: black, isort, mypy, pylint

Changed logging to happen only in development environment
  juffi/__main__.py
  juffi/helpers/dev_utils.py
  tests/helpers/__init__.py
Due: black, isort, mypy, pylint

bump to version 0.3.0
  CHANGELOG.md
  pyproject.toml
Due: none

Fix tag extraction for GitHub release upload
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Revert "Fix tag extraction for GitHub release upload"
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Stay on the current line when changing filters
  juffi/helpers/list_utils.py
  juffi/viewmodels/entries.py
  juffi/views/app.py
  juffi/views/entries.py
  tests/infra/base_test_app.py
  tests/infra/screen_data.py
  tests/infra/terminal_parser.py
  tests/views/test_browse_view.py
Due: black, isort, mypy, pylint

Add measurement of input handling and drawing time
  juffi/__main__.py
  juffi/helpers/dev_utils.py
  juffi/views/app.py
Due: black, isort, mypy, pylint

Reduce input timeout to 10 ms
  juffi/views/app.py
Due: black, isort, mypy, pylint

Improve test infrastructure
  tests/infra/base_test_app.py
  tests/infra/screen_data.py
  tests/infra/terminal_parser.py
Due: black, isort, pylint

Refactor colors into curses_utils.py and use them from there
  juffi/helpers/curses_utils.py
  juffi/views/app.py
  juffi/views/browse.py
  juffi/views/column_management.py
  juffi/views/details.py
  juffi/views/entries.py
  juffi/views/help.py
  tests/infra/utils.py
  tests/views/test_details_redraw.py
  tests/views/test_details_view.py
Due: black, isort, mypy, pylint

Properly clean test process on exception
  juffi/input_controller.py
  tests/piped/conftest.py
  tests/views/conftest.py
Due: black, isort, mypy, pylint

Parse ansi colors in testing infrastructure
  juffi/helpers/list_utils.py
  tests/infra/screen_data.py
  tests/infra/terminal_parser.py
Due: black, isort, mypy, pylint

Fixed bug where details view doesn't maintain current line
  CHANGELOG.md
  juffi/viewmodels/entries.py
  juffi/views/app.py
  juffi/views/entries.py
  tests/views/file_test_app.py
  tests/views/test_browse_view.py
  tests/views/test_details_view.py
Due: black, isort, mypy, pylint

Refactor state management
  juffi/helpers/datetime_parser.py
  juffi/helpers/state.py
  juffi/models/column.py
  juffi/models/juffi_model.py
  juffi/models/log_entry.py
  juffi/viewmodels/app.py
  juffi/viewmodels/entries.py
  pyproject.toml
  tests/helpers/test_state.py
  tests/infra/utils.py
  tests/models/test_juffi_state.py
  tests/models/test_log_entry.py
  tests/views/conftest.py
  tests/views/test_plain_text.py
Due: black, isort, mypy, pylint

Move views tests into e2e folder
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/file_test_app.py
  tests/e2e/piped/__init__.py
  tests/e2e/piped/conftest.py
  tests/e2e/piped/piped_test_app.py
  tests/e2e/piped/test_pipe.py
  tests/e2e/test_app.py
  tests/e2e/test_browse_view.py
  tests/e2e/test_column_management_view.py
  tests/e2e/test_details_view.py
  tests/e2e/test_help_view.py
  tests/e2e/test_plain_text.py
  tests/views/test.log
Due: black, isort, pylint

Create output controller to control curses operations
  juffi/__main__.py
  juffi/helpers/curses_utils.py
  juffi/input_controller.py
  juffi/output_controller.py
  juffi/views/app.py
  juffi/views/column_management.py
  juffi/views/details.py
  juffi/views/entries.py
  juffi/views/help.py
  tests/viewmodels/test_app_model.py
Due: black, isort, mypy, pylint

Use utility classes instead of raw ints in window infra
  juffi/output_controller.py
  juffi/views/app.py
  juffi/views/column_management.py
  juffi/views/details.py
  juffi/views/entries.py
  juffi/views/help.py
Due: black, isort, mypy, pylint

add check toml pre-commit hook
  .pre-commit-config.yaml
Due: check-yaml

Add views tests infrastructure with first tests
  juffi/__main__.py
  juffi/output_controller.py
  tests/infra/mock_output_controller.py
  tests/views/test_details_view.py
  tests/views/test_help_view.py
Due: black, isort, mypy, pylint

Refactor e2e tests into views tests
  tests/e2e/test_column_management_view.py
  tests/e2e/test_details_view.py
  tests/e2e/test_help_view.py
  tests/views/test_column_management_view.py
  tests/views/test_details_view.py
  tests/views/test_help_view.py
Due: black, isort, pylint

Details mode now tries to stay on the same field index as entries are moved through
  CHANGELOG.md
  juffi/viewmodels/details.py
  tests/viewmodels/test_details_viewmodel.py
  tests/views/test_details_view.py
Due: black, isort, mypy, pylint

Add scrolling to help mode
  juffi/views/app.py
  juffi/views/help.py
  tests/views/test_help_view.py
Due: black, isort, mypy, pylint

Added fullscreen mode in details mode for long fields
  CHANGELOG.md
  juffi/viewmodels/details.py
  juffi/views/details.py
  juffi/views/help.py
  tests/viewmodels/test_details_viewmodel.py
  tests/views/test_details_view.py
Due: black, isort, mypy, pylint

Added new version
  CHANGELOG.md
Due: none

Fix pyproject.toml version
  pyproject.toml
Due: none

Add handling for curses errors that result from writing a string incorrectly
  juffi/output_controller.py
Due: black, isort, mypy, pylint

Bump to version 0.4.1
  CHANGELOG.md
  pyproject.toml
Due: none

Fix details mode size glitch
  juffi/views/details.py
Due: black, isort, mypy, pylint

Bump to version 0.4.2
  CHANGELOG.md
  pyproject.toml
Due: none

Use efficient curses functions when shifting content by 1 line
  juffi/output_controller.py
  juffi/views/entries.py
  tests/infra/mock_output_controller.py
  tests/views/test_entries_view.py
Due: black, isort, mypy, pylint

Fix scroll bug
  juffi/viewmodels/entries.py
  tests/viewmodels/test_entries_viewmodel.py
Due: black, isort, mypy, pylint

Fix optimized scroll drawing
  juffi/views/entries.py
  tests/views/test_entries_view.py
Due: black, isort, mypy, pylint
