Repository YotamAlon/juffi: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint, check-yaml

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=88

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --line-length=88

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - --explicit-package-bases

pylint:
  name: pylint
  entry: pylint
  language: system

check-yaml:
  name: check yaml
  entry: check-yaml
  language: system

Running pre-commit on all files
  .gitignore
  Makefile
  juffi/helpers/curses_utils.py
  juffi/helpers/indexed_dict.py
  juffi/helpers/state.py
  juffi/main.py
  juffi/models/juffi_model.py
  juffi/models/log_entry.py
  juffi/views/browse.py
Due: black, isort, mypy, pylint

Adding first tests
  .pre-commit-config.yaml
  tests/models/test_juffi_state.py
  tests/models/test_log_entry.py
  tests/viewmodels/test_app_model.py
Due: black, isort, check-yaml

Adding missing dependencies
  pyproject.toml
Due: none

Rename main.py to allow juffi to be executed with -m
  juffi/__main__.py
  pyproject.toml
Due: black, isort, mypy, pylint

Fix sort direction arrow display and column width
  juffi/models/juffi_model.py
  juffi/views/entries.py
Due: black, isort, mypy, pylint

Split browse mode into viewmodel
  juffi/viewmodels/browse.py
  juffi/views/browse.py
  tests/viewmodels/test_browse_viewmodel.py
Due: black, isort, mypy, pylint

Fix entering details with no rows
  juffi/views/details.py
Due: black, isort, mypy, pylint

Refactor details view into separate viewmodel and view
  juffi/viewmodels/details.py
  juffi/views/details.py
  tests/viewmodels/test_details_viewmodel.py
Due: black, isort, mypy, pylint

Avoid redrawing in details mode
  juffi/views/app.py
  juffi/views/details.py
  tests/views/test_details_redraw.py
Due: black, isort, mypy, pylint

adding ability to create wheel and sdist
  Makefile
  pyproject.toml
Due: none

Separated entries view into viewmodel and added tests
  juffi/viewmodels/entries.py
  juffi/views/entries.py
  tests/viewmodels/test_entries_viewmodel.py
Due: black, isort, mypy, pylint

Fix details header length
  juffi/views/details.py
Due: black, isort, mypy, pylint

Extract input handling (control and data) into dedicated controller
  juffi/__main__.py
  juffi/input_controller.py
  juffi/viewmodels/app.py
  juffi/views/app.py
  tests/viewmodels/test_app_model.py
Due: black, isort, mypy, pylint

Improve tests
  tests/viewmodels/test_app_model.py
Due: black, isort

Improve tests
  tests/models/test_juffi_state.py
Due: black, isort

Added first e2e test
  juffi/helpers/list_utils.py
  tests/views/test.log
  tests/views/test_app.py
Due: black, isort, mypy, pylint

Bump version from 0.1.0 to 0.2.0
  pyproject.toml
Due: none

Add GitHub Actions workflow for PyPI publishing
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Add ZIP archive creation and upload to GitHub Release
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Remove ZIP archive creation from publish workflow
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Update workflow to include write permissions
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Update PyPI publish action to version 1.13.0
  .github/workflows/publish-to-pypi.yml
Due: check-yaml

Update development status from 3 to 4 - Beta
  pyproject.toml
Due: none

Add help view tests and extract common views tests infra
  pyproject.toml
  tests/__init__.py
  tests/views/__init__.py
  tests/views/conftest.py
  tests/views/test_app.py
  tests/views/test_help_view.py
  tests/views/utils.py
Due: black, isort

Added support for coverage
  .pre-commit-config.yaml
  Makefile
  juffi/__main__.py
  juffi/views/app.py
  pyproject.toml
  tests/views/test_app.py
Due: black, isort, mypy, pylint, check-yaml

Improve view tests infrastructure
  .pre-commit-config.yaml
  tests/models/__init__.py
  tests/viewmodels/__init__.py
  tests/views/conftest.py
  tests/views/test_help_view.py
  tests/views/utils.py
Due: black, isort, check-yaml

Move ESC and reset handling to app view
  juffi/views/app.py
  juffi/views/browse.py
  juffi/views/column_management.py
  tests/views/test_app.py
Due: black, isort, mypy, pylint

Add column management view tests and fix code based on tests
  .pre-commit-config.yaml
  juffi/__init__.py
  juffi/helpers/__init__.py
  juffi/helpers/curses_utils.py
  juffi/models/__init__.py
  juffi/viewmodels/__init__.py
  juffi/viewmodels/column_management.py
  juffi/views/__init__.py
  juffi/views/app.py
  juffi/views/column_management.py
  tests/views/test_column_management_view.py
Due: black, isort, mypy, pylint, check-yaml

Separate focus from the focused pane
  juffi/viewmodels/column_management.py
  juffi/views/column_management.py
Due: black, isort, mypy, pylint

Separate pane management from other column management page concerns
  juffi/viewmodels/column_management.py
  juffi/views/column_management.py
Due: black, isort, mypy, pylint

Reduce amount of properties
  juffi/viewmodels/column_management.py
  juffi/views/column_management.py
Due: black, isort, mypy, pylint

Bring back full flow test
  tests/views/test_column_management_view.py
Due: black, isort

Update README.md with a lot more information and screenshots
  README.md
  pyproject.toml
Due: none

Clean up README by removing unnecessary text
  README.md
Due: none

Update build instructions in README.md
  README.md
Due: none

Reorder window create+resize to prevent resize bug
  juffi/views/app.py
Due: black, isort, mypy, pylint

Fix reset functionality
  juffi/input_controller.py
  juffi/models/juffi_model.py
  juffi/viewmodels/app.py
  tests/viewmodels/test_app_model.py
  tests/views/test_app.py
Due: black, isort, mypy, pylint

Add browse mode filter tests
  tests/views/test_browse_view.py
  tests/views/test_column_management_view.py
  tests/views/utils.py
Due: black, isort

Add follow mode tests and fix follow bug
  juffi/viewmodels/entries.py
  juffi/views/entries.py
  tests/viewmodels/test_entries_viewmodel.py
  tests/views/conftest.py
  tests/views/test_app.py
  tests/views/test_browse_view.py
  tests/views/test_column_management_view.py
  tests/views/utils.py
Due: black, isort, mypy, pylint

Reduce input timeout to 100 ms
  juffi/views/app.py
Due: black, isort, mypy, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$, but not: ^tests/
  check-yaml: any of: \.(yaml|yml)$
